@model DogGo.Models.ViewModels.WalkerProfileViewModel

@{
    ViewData["Title"] = "Profile";
}
<div>
    <h1 class="mb-4">@Model.Walker.Name</h1>


    <section class="container">
        <img style="width:100px;float:left;margin-right:20px"
             src="https://upload.wikimedia.org/wikipedia/commons/a/a0/Font_Awesome_5_regular_user-circle.svg" />
        <div>
            <label class="font-weight-bold">Name:</label>
            <span>@Model.Walker.Name</span>
        </div>

        <div>
            <label class="font-weight-bold">Neighborhood:</label>
            <span>@Model.Walker.Neighborhood.Name</span>
        </div>
    </section>


    @*<div>
            @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */}) |
            <a asp-action="Index">Back to List</a>
        </div>*@
    <hr class="mt-5" />
    <div class="clearfix"></div>

    <div class="row">
        <section class="col-8 container mt-5">
            <h1 class="text-left">Recent Walks</h1>

            <div class="row">
                <table class=" table table-borderless  mt-3">
                    <thead>
                        <tr>

                            <th scope ="col">
                                Date
                            </th>
                            <th scope ="col">
                                Client
                            </th>
                            
                            <th scope ="col">
                                Duration
                            </th>

                            
                        </tr>
                    </thead>
                    <tbody>
                        @{int total = 0; }
                        @foreach (Walks walk in Model.Walks)
                        {
                            <tr>

                                <td>
                                    
                                    @walk.Date.ToShortDateString()
                                </td>
                                <td>
                                    @walk.Owner.Name
                                </td>
                               
                                <td>
                                   @walk.Duration min
                                </td>
                                
                                @{total += walk.Duration; }
                            </tr>
                                    }
                    </tbody>
                    
                </table>
               
            </div>
            </section>
        

        <section class="col-lg-4 col-md-8 container mt-5">
            @{int hours = total / 60; }
            @{int mins = total % 60; }
            <h1>Total Walk Time</h1>
            <h2>@hours hrs @mins min</h2>
            @*<ul class="list-group mt-4">
                @foreach (Walker walker in Model.Walkers)
                {
                    <li class="list-group-item disabled" aria-disabled="true">
                        <img src="@walker.ImageUrl" style="width:50px" />
                        <span class="font-weight-bold ml-4">@walker.Name</span>
                    </li>
                }
            </ul>*@
        </section>
    </div>
</div>
